<section style="background-image: url(/img/landing1.jpg);">
<h1 class="container" >All Users</h1>
<a href="/user/add" style="color: rgb(31, 32, 31); background-color:pink; width: 8%; margin-left: 10px; border-radius: 15px; text-align: center;">Add users</a>

<div style="text-align: center; font-size: 20px;">
<% users.forEach((user)=> { %>
    <div class="card">


        <p class="name"><span style="color: darkslateblue;">Name</span>:<%- user.name -%>
        </p>
       
        <p class="email"><span  style="color: darkslateblue;">Phone_number</span>: <%- user.phone_number -%>
        </p>
        <!-- <p class="servives">Password: <%- user.password -%> -->
        <!-- </p> -->
   
   
    <a href="/user/edit/<%= user._id %>"  style="color: dodgerblue;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <a href="/user/delete/<%= user._id %>" style="color: tomato;"><i class="fa fa-trash" aria-hidden="true"></i></a>
    <a href="/user/force-change/<%= user._id %>" style="color:green"><button class="button3">force change</button></a><hr><hr>
</div>
    <%})%>

</div>
</section>
<style>
    .container{
        margin-top: 100px;
        text-align: center;
        font-size: 50px;
        color: #fff;
       
    }
    .card:hover{
        background-color: rgb(50, 54, 54);
        opacity: 0.3;
        color: #fff;
        font-weight: bold;
    }

    .button3 {
    border: none;
    background-color: dodgerblue;
    text-align: center;
    padding: 0.8em;
    margin: 1em;
    border-radius: 7px;
    color: #fff;
    width: 100px;
   
  }

  .button3:hover {
  background-color: rgb(58, 4, 4)
  }
 
